body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#notes {
    display: flex;
    flex-wrap: wrap;
}

#but-reset {
    background-color: #0075FF;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 120px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#but-add-note {
    background-color: #0075FF;
    border: none;
    border-radius: 45px;
    height: 85px;
    width: 85px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#but-color-change {
    background-color: #0075FF;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 120px;
    right: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.note-cl {
    background-color: #7b7b7b;
    padding: 10px;
    color: rgb(227, 226, 226);
    min-height: 200px;
    height: auto;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border: none;
    outline: none;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: visible;
}

.note-cl:focus {
    border: none;
    outline: 1px solid black;
    outline-offset: -1px;
}

.first-note-cl {
    width: 24%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.blue-top-cl {
    background-color: #0075FF;
    padding: 10px;
    height: 20px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    display: flex;
    justify-content: flex-end;
}
.svg-delete {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    transform: rotate(45deg);
}

.svg-delete-button-cl {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}